@import '~@vds/design-tokens/dist/scss/variables';

.vds-avatar {
    border-radius: 100%;
    padding: $vds-spacing-500;
    display: inline-block;
    background-color: $vds-color-celestialsphere; 
}